### (문제)  df_food 데이터프레임의 'food' 컬럼의 값을 'meat_to_animal' 딕션너리를 활용하여 범주를 축소하시오.

In [40]:
import pandas as pd
df_food = pd.DataFrame({'food' : ['bacon', 'pulled pork', 'bacon', 'Pastrami',
                                 'corned beef','Bacon', 'pastrami', 'honey ham', 'nova lox'],
                       'kg':[4.0, 3.0, 12.0, 6.0, 7.5, 8.0, 3.0, 5.0, 6.0]})
df_food

          food    kg
0        bacon   4.0
1  pulled pork   3.0
2        bacon  12.0
3     Pastrami   6.0
4  corned beef   7.5
5        Bacon   8.0
6     pastrami   3.0
7    honey ham   5.0
8     nova lox   6.0

In [41]:
meat_to_animal = {'bacon':'pig', 'corned beef':'cow', 'honey ham':'pig',
                 'nova lox':'salmon', 'pastrami':'cow','pulled pork':'pig'}

In [42]:
df_food['food'] = df_food['food'].map(lambda x : x.lower()).map(meat_to_animal)
df_food

     food    kg
0     pig   4.0
1     pig   3.0
2     pig  12.0
3     cow   6.0
4     cow   7.5
5     pig   8.0
6     cow   3.0
7     pig   5.0
8  salmon   6.0

### 데이터타입을 카테고리 타입으로 변경하기
- 다음 내용을 실습하고 카테고리 타입의 장점을 설명하시오.

In [29]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
food    9 non-null object
kg      9 non-null float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

In [30]:
df_food['food'] = df_food['food'].astype("category")
df_food

     food    kg
0     pig   4.0
1     pig   3.0
2     pig  12.0
3     cow   6.0
4     cow   7.5
5     pig   8.0
6     cow   3.0
7     pig   5.0
8  salmon   6.0

In [31]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
food    9 non-null category
kg      9 non-null float64
dtypes: category(1), float64(1)
memory usage: 265.0 bytes

In [32]:
df_food['food']

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: category
Categories (3, object): [cow, pig, salmon]

## .cat.categories

In [33]:
df_food['food'].cat.categories

Index(['cow', 'pig', 'salmon'], dtype='object')

In [34]:
df_food['food'].cat.categories = ['소','돼지','연어']
df_food

  food    kg
0   돼지   4.0
1   돼지   3.0
2   돼지  12.0
3    소   6.0
4    소   7.5
5   돼지   8.0
6    소   3.0
7   돼지   5.0
8   연어   6.0

## 카테고리타입도 정렬가능

In [32]:
df_food.sort_values(by='food')

  food    kg
3    소   6.0
4    소   7.5
6    소   3.0
0   돼지   4.0
1   돼지   3.0
2   돼지  12.0
5   돼지   8.0
7   돼지   5.0
8   연어   6.0

## pandas.cut
- 다음을 실습하고 과정을 간단히 서술하시오.

In [72]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins =[10,19,29,39,49,59,69,79]
label = ["10대","20대","30대","40대","50대","60대","70대"]

In [73]:
cat = pd.cut(ages, bins)
cat

[(19, 29], (19, 29], (19, 29], (19, 29], (19, 29], ..., (29, 39], (59, 69], (39, 49], (39, 49], (29, 39]]
Length: 12
Categories (7, interval[int64]): [(10, 19] < (19, 29] < (29, 39] < (39, 49] < (49, 59] < (59, 69] < (69, 79]]

In [74]:
cat.codes

array([1, 1, 1, 1, 1, 1, 2, 2, 5, 3, 3, 2], dtype=int8)

In [75]:
cat.value_counts()

(10, 19]    0
(19, 29]    6
(29, 39]    3
(39, 49]    2
(49, 59]    0
(59, 69]    1
(69, 79]    0
dtype: int64

In [76]:
cat = pd.cut(ages, bins, labels=label)
cat

[20대, 20대, 20대, 20대, 20대, ..., 30대, 60대, 40대, 40대, 30대]
Length: 12
Categories (7, object): [10대 < 20대 < 30대 < 40대 < 50대 < 60대 < 70대]

In [77]:
cat.value_counts()

10대    0
20대    6
30대    3
40대    2
50대    0
60대    1
70대    0
dtype: int64