### 1. Python DB API 표준을 따르는 MySQL DB 모듈 다운로드

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

### 2. 모듈 임포트

In [64]:
import pymysql

### 3. DB 연결

In [65]:
conn = pymysql.connect(host='localhost', user='root', password='root2018', database='mysql')
#charset='utf-8'

In [66]:
conn

### 4. Cursor 객체 가져오기

In [67]:
curs = conn.cursor(pymysql.cursors.DictCursor)
curs

In [12]:
curs = conn.cursor()
curs

### 5. sql문 실행

- CREATE문

In [56]:
sql ="create table student (hakbun varchar(16) primary key not null, name varchar(50), major varchar(50), addr varchar(50), tel varchar(50))"
curs.execute(sql)

0

- DROP 문

In [54]:
sql = "drop table IF EXISTS student"
curs.execute(sql)

0

- SELECT문

In [68]:
# student 테이블의 모든 행 검색
sql = "select * from student"
curs.execute(sql)

4

In [61]:
# 조건을 만족하는 행만 검색
sql = 'select * from student where major=%s and addr=%s'
curs.execute(sql,('소프트웨어','광주'))

1

- INSERT문

In [58]:
sql = "insert into student(hakbun, name, major, addr,tel) values (%s, %s, %s, %s, %s)"
curs.execute(sql,('2201', '홍길동', '임베디드', '서울','010-5656-9090'))
curs.execute(sql,('2202', '김정은', '소프트웨어', '광주','010-5656-9090'))
curs.execute(sql,('2203', '이순신', '소프트웨어', '대전','010-5656-9090'))
conn.commit()

### 6. 검색한 데이터 출력하기

In [69]:
rows = curs.fetchall()   #fetchone(), fetchmany()

print(rows)

[{'hakbun': '1101', 'name': '홍길동', 'major': '임베디드', 'addr': '광주', 'tel': '010-1234-5678'}, {'hakbun': '2201', 'name': '홍길동', 'major': '임베디드', 'addr': '서울', 'tel': '010-5656-9090'}, {'hakbun': '2202', 'name': '김정은', 'major': '소프트웨어', 'addr': '광주', 'tel': '010-5656-9090'}, {'hakbun': '2203', 'name': '이순신', 'major': '소프트웨어', 'addr': '대전', 'tel': '010-5656-9090'}]

In [70]:
for row in rows :
    print(row['hakbun'],row['name'], row['major'], row['addr'])

1101 홍길동 임베디드 광주
2201 홍길동 임베디드 서울
2202 김정은 소프트웨어 광주
2203 이순신 소프트웨어 대전

### 7. DB 연결종료

In [63]:
conn.close()